*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body
{
    background: #f1f5f9;
}
.container
{
    display: flex;
    height: 100vh;
}
.sidebar
{
    width:220px;
    background: #1e293b;
    color: white;
    padding: 20px;
}
.sidebar h2
{
    margin-bottom: 20px;
}
.sidebar ul
{
    list-style: none;
}
.sidebar li
{
    margin: 15px 0;
    cursor: pointer
}
.main
{
    flex : 1;
    padding: 30px;
}
form
{
    margin:20px 0;
}
input[type="text"] {
    padding: 8px;
    width: 250px;
}

input[type="checkbox"] {
    width: auto;        /* ✅ FIX */
    padding: 0;
}
button
{
    padding: 8px 12px;
    cursor: pointer;
}
.stats
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:15px;
    margin: 20px 0;
}
.card
{
    background: white;
    padding:15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.card h3{
    font-size: 14px;
    color:gray;
}
.card p{
    font-size: 22px;
    font-weight: bold;
}
#taskList li {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  margin: 10px 0;
  background: white;
  border-radius: 8px;
}

.task-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-btn {
  margin-left: auto;   /* pushes it to right */
  cursor: pointer;
  font-size: 14px;
  color: black;
}
.completed-task {
  opacity: 0.6;
}
li
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task-right
{
    display: flex;
    gap: 10px;
    align-items: center;
}